
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="UpdateProgress1" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>
<section class="content-wrapper main-content clear-fix">
    <div class="well">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="panel panel-success">
                        <div class="panel-heading">@*@GlobalResEstate.menuBasicInfo.ToUpper()*@ BAJET PERBELANJAAN HQ</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label>@*@GlobalResEstate.lblBasicInfoList*@ Senarai Bajet Pendapatan</label>
                                    @Html.DropDownList("IncomeBudgetList", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-report">
                    <input class="btn btn-primary" type="submit" name="Proceed" id="Proceed" value=@GlobalResEstate.btnGo onclick="return DisplayProgressMessage(this)"; />
                </div>
            </div>
            }
        </div>
    </section>
    <script>
        function DisplayProgressMessage(ctl) {
            $("#UpdateProgress1").css("display", "");
            return true;
        }
    </script>