
@{
    Layout = "~/Views/Shared/_LayoutMainBudget.cshtml";

    var screens = ViewBag.Screens as List<MVC_SYSTEM.ModelsBudget.bgt_Screen>;
}

<section class="content-wrapper main-content clear-fix">
    <div class="well">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="panel panel-success">
                        <div class="panel-heading">RECORD DETAILS</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Senarai</label>

                                    @Html.DropDownList("ScrCode", null, htmlAttributes: new { @class = "form-control" })
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<a id="btnGo" href="javascript:void(0);" class="btn btn-primary">@GlobalResEstate.btnGo</a>*@
                <input class="btn btn-primary" type="submit" value=@GlobalResEstate.btnGo />
            </div>
        }
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            listChange('#RecordList');
        });

        function listChange(element) {
            var url = $(element).find('option:selected').data('url');
            $('#btnGo').attr('href', url);
        }
    </script>
}